extends layout

block content
  h1= title
  p.lead
    |Welcome to the #{title}, published under the authority of the Speaker. Here, you can find a list of Members of
    |Parliament, a list of all items introduced in the House, the Order Paper, and voting records of MPs in the House.
    | The #{title} will also conduct the Third General Election.
  p
    |You can use the navigation bar to find the content you need. The #{title} is still under construction.
